<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
     <script  type="text/javascript" rel="script"  src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script  type="text/javascript" rel="script"  src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" rel="script" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script  type="text/javascript" rel="script"  src="{% static 'js/datatables.min.js' %}"></script>
    <link rel="stylesheet"  href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet"  href="{% static 'css/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{%block title%}{%endblock%}</title>
</head>
<body>
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Taller Roy@</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Inventario </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"  href="/inventario/piezas">Lista </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">...</a>
        </div>
      </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reportes  </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">   
          <a class="dropdown-item"  href="/reportes/">Completo </a>
          <a class="dropdown-item" href="#">...</a> 
          <div class="dropdown-divider"></div>                
            <a class="dropdown-item"  href="/reportes/cero">Cero en Inventario</a>
            <a class="dropdown-item"  href="/reportes/venta_mes">Reporte del Mes @Articulos</a>
            <a class="dropdown-item"  href="/reportes/servicio">Reporte semana @Servicio</a>
            <a class="dropdown-item"  href="/reportes/categoria">Reporte por Categorias </a>
             <a class="dropdown-item" href="/reportes/fecha">Cierre por Fecha </a>
          <div class="dropdown-divider"></div>  
          <a class="dropdown-item" href="#">...</a>
        </div>
      </li>
        <li class="nav-item">
            <a class="nav-link" href="/servicio/">Servicio</a>
      </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/">Administracion</a>
        </li>

          <form class="form-inline my-2 my-lg-0" action="/buscar/" method="get">
                    <input  class="form-control mr-sm-2" type="text" name="buscar" placeholder="Busqueda !!" required="true">
                    <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Buscar" >
      </form>
    </nav>      
  </div>
</div>
{%block nav%}{%endblock%}
{%block content%}
{%endblock%}
{%block footer%}
<div class="modal-footer" align="center">
     <p class="text-info">Taller Roy@ (c) </p>
 </div>
{%endblock%}
</body>
</html>