{% extends "reportes.html" %}
{%block title%}Reporte Completo{%endblock%}
{% block content %}
<h1 align="center">Lista de Piezas</h1>
<div class="row">
    <div class="col-8 offset-2 table-responsive">
        <table align="center" class="table table-border table-striped  table-primary">
            {% if logs %}
            <tr>
                <th>Fecha y Hora </th>
                <th>Objeto Modificado </th>
                <th>Categoria </th>
                <th>Accion </th>
                <th>Cambio </th>
                <th>Contenido </th>
                <th>Usuario </th>
            </tr>
            {% for logs  in logs %}
            <tr class="table-success">
                <td>{{logs.action_time}}</td>
                <td>{{logs.objetc_id}}</td>
                <td>{{logs.objetc_repr}}</td>
                <td>{{logs.action_flag}}</td>
                <td>{{logs.change_message}}</td>
                <td>{{logs.content_type_id}}</td>
                <td>{{logs.user_id}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

    {% else %}
        <p>No hay piezas registrados.</p>
{% endif %}
{% endblock %}