{% extends "inventario.html" %}
{% block content %}
{% load staticfiles %}
<div >
    <div class="col-8 offset-2  table-responsive ">
        {% if object_list %}
        {% for piezas  in object_list %}             
        <table align="center" class="table table-success table-borderless table_report">
            <tr>
             <thead>
                 <td></td>             
                 <th>Cantidad </th>
                 <th>Categoria </th>
                 <th>Producto </th>                 
                 <th>Seccion </th>
                 <th>Precio </th>
             </thead>
            </tr>
            <tbody>
             <tr>
                <td><a class="btn btn-primary"  href="{%url 'venta-piezas' piezas.id %}">Vender <img src="{% static 'icons/shop_2_white.png'%}" height="20" width="20"></a></td>
                <td>{{piezas.cantidad}}</td>
                <td>{{piezas.categoria}}</td>
                <td>{{piezas.nombre}}</td>                
                <td>{{piezas.categoria.seccion}}</td>
                <td>{{piezas.precio_venta}}</td>
             </tr>
         </tbody>
         </table>         
            {% endfor %}        
    </div>
</div>

    {% else %}
        <h1 align="center">No hay piezas.</h1>
{% endif %}
{% endblock %}